.container {
  text-align: center;
  padding: 50px;
}

.profilePicture {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin: 20px 0;
}

.logoutButton {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: #d32f2f;
}

.userInfo {
  margin-top: 20px;
}

.navButtons {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}